body {
  padding: 50px;
  background-color: #F6E4F6;
}

h1 {
  font-size: 3.5em;
}

h1, h6, h3 {
  font-family: 'Bree Serif', serif;
  /*font-family: 'Raleway', sans-serif;*/
}

.subtitle {
  font-style: italic;
}

.main-content {
  border-radius: 15px;
  background-color: white;
}



img {
    width:100%;
    height:auto;
    margin-bottom: 15px;
}

.image {
  /*padding-top: 15px;*/
  padding-bottom: 15px;
}

.year {
  font-weight: bold;
}

.timeline {
  margin: 10px;
}
