html{
  background-color: green;
}
body {
  padding: 50px;
  background-color: #F0E4DD;
}


.navbar-brand, h1 {
  font-family: Lobster, Monospace;
}

.main-content {
  border: 1px solid black;

}

/*.image{
  margin: 20px;
}*/

img {
    width:100%;
    height:auto;
    padding: 30px;
}

.year {
  font-weight: bold;
}
